*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--main-font: "Poppins", sans-serif;
	--variant-font-1: "League Spartan", sans-serif;
	--variant-font-2: "Roboto Slab", serif;
	--variant-font-3: "Space Grotesk", sans-serif;

	--main-color-1: #1e2140;
	--main-color-2: #151932;
	--main-color-3: #292d53;
	--light-color: #d8dffb;
	--color-grey-1: #828282;
	--color-grey-2: #e0e0e0;
	--variant-color-1: #fd6d72;
	--variant-color-2: #6ff4fb;
	--variant-color-3: #d982f7;
}

body[data-color="color-1"] {
	--variant-color-1: #fd6d72;
}

body[data-color="color-2"] {
	--variant-color-1: #6ff4fb;
}

body[data-color="color-3"] {
	--variant-color-1: #d982f7;
}

body[data-font="league-spartan"] {
	--variant-font-1: "League Spartan", sans-serif;
}

body[data-font="roboto-slab"] {
	--variant-font-1: "Roboto Slab", serif;
}

body[data-font="space-grotesk"] {
	--variant-font-1: "Space Grotesk", sans-serif;
}

body {
	font-family: var(--main-font);
	background-color: var(--main-color-1);
	color: var(--light-color);
	padding: 1rem;
}

body.settings-open {
	position: relative;
	width: 100%;
	height: 10%;
}

label,
input {
	font-family: inherit;
}

/* Pomodoro Options ============================================*/
.pomodoro-options {
	background-color: var(--main-color-2);
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 20rem;
	padding: 0.45rem;
	display: flex;
	border-radius: 50px;
}

.option-group {
	display: flex;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}

.pomodoro-option-input {
	visibility: 0;
	width: 0;
	height: 0;
}

.pomodoro-option-label {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-size: 0.7rem;
	font-weight: 600;
	padding: 1rem 0;
	background-color: transparent;
	color: var(--light-color);
	border-radius: 50px;
	width: 100%;
}

.pomodoro-option-input:checked + .pomodoro-option-label {
	background-color: var(--variant-color-1);
	color: var(--main-color-2);
}

/* Pomodoro Timer =============================================== */
.pomodoro h1 {
	margin-top: 2rem;
	text-align: center;
}

.timer-container {
	background: linear-gradient(120deg, var(--main-color-2), var(--main-color-3));
	box-shadow: -8px -8px 2px 6px rgba(41, 45, 83, 0.1),
		4px 4px 8px 4px rgba(0, 0, 0, 0.1);
	width: 300px;
	height: 300px;
	margin-top: 3rem;
	margin-bottom: 4rem;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	position: relative;
}

.timer-background {
	background-color: var(--main-color-2);
	width: 270px;
	height: 270px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.progress {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.progress-bar {
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
	stroke: var(--variant-color-1);
	transition: stroke-dashoffset 1s;
}

.time {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.time span {
	font-size: 4.5rem;
	font-family: var(--variant-font-1);
}

.timer-button {
	background-color: transparent;
	border: none;
	text-transform: uppercase;
	font-family: inherit;
	font-weight: 600;
	letter-spacing: 8px;
	font-size: 1rem;
	color: inherit;
	position: absolute;
	top: 79%;
	left: 50%;
	transform: translate(-50%, -79%);
	padding: 0.25rem 0.75rem;
	border-radius: 50px;
}

/* Settings =============================================================*/
.settings-icon {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	display: block;
}

body.settings-open .settings {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	background-color: #0000007e;
}

body.settings-open .settings-container {
	display: block;
	visibility: visible;
}

.settings-container {
	display: none;
	visibility: hidden;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 2rem;
	color: var(--main-color-2);
	border-radius: 8px;
	max-width: 32rem;
	position: relative;
	flex: 1;
}

.settings-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

.close-icon {
	height: 26px;
	width: 26px;
}

.close-icon img {
	width: 100%;
}

.form-title {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.85rem;
	text-align: center;
	margin-bottom: 1rem;
}

.settings-form-pomodoro {
	border-top: solid 1px var(--color-grey-2);
	padding: 1rem;
}

.form-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0.5rem 0;
}

.form-group label {
	color: var(--color-grey-1);
	font-weight: 600;
	font-size: 0.9rem;
}

.form-group input {
	background-color: var(--light-color);
	border: none;
	padding: 0.5rem;
	width: 8rem;
	font-weight: bold;
	font-size: 1rem;
	border-radius: 3px;
}

.settings-form-font {
	border-top: solid 1px var(--color-grey-2);
	padding: 1rem;
}

.form-font-container {
	display: flex;
	justify-content: center;
	gap: 1.5rem;
}

.font-input {
	opacity: 0;
	width: 0;
	height: 0;
}

.font-input-label {
	display: inline-flex;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--light-color);
	align-items: center;
	justify-content: center;
}

.font-input:checked + .font-input-label {
	background-color: var(--main-color-2);
	color: var(--light-color);
}

.font-spartan {
	font-family: var(--variant-font-1);
}

.font-roboto-slab {
	font-family: var(--variant-font-2);
}

.font-space-grotesk {
	font-family: var(--variant-font-3);
}

.settings-form-color {
	padding: 1rem;
	border-top: solid 1px var(--color-grey-2);
}

.form-color-container {
	display: flex;
	justify-content: center;
	gap: 1.5rem;
}

.color-input {
	visibility: 0;
	height: 0;
	width: 0;
}

.color-input-label {
	display: inline-flex;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: inherit;
	position: relative;
}

.color-1 {
	background-color: #fd6d72;
}

.color-2 {
	background-color: #6ff4fb;
}

.color-3 {
	background-color: #d982f7;
}

.color-input:checked + .color-input-label::after {
	content: "";
	display: block;
	width: 8px;
	height: 16px;
	border: solid var(--main-color-2);
	border-width: 0 3px 3px 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	-ms-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg);
}

.submit-button {
	background-color: var(--variant-color-1);
	border: none;
	padding: 1rem 2.5rem;
	border-radius: 50px;
	position: relative;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1rem;
	font-weight: 600;
}

@media (min-width: 560px) {
	.settings-pomodoro-container {
		display: flex;
		justify-content: space-between;
	}

	.settings-container {
		border-radius: 20px;
	}

	.settings-header {
		padding: 1rem 2rem;
	}

	.settings-form-pomodoro {
		padding: 2rem;
	}

	.settings-form-pomodoro .form-title {
		margin-bottom: 1rem;
	}

	.form-title {
		text-align: left;
		margin-bottom: 0;
		font-size: 0.9rem;
	}

	.form-group {
		flex-direction: column;
		align-items: start;
	}

	.form-group label {
		margin-bottom: 0.5rem;
		font-size: 0.85rem;
	}

	.settings-form-font,
	.settings-form-color {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 2rem;
	}
}
